/target
/pkg
/node_modules
/dist
*.log
**/pkg
**/node_modules
**/dist
!/crates/skinhelm-wasm/pkg/
crates/skinhelm-wasm/pkg/*
!/crates/skinhelm-wasm/pkg/skinhelm_wasm.js
!/crates/skinhelm-wasm/pkg/skinhelm_wasm_bg.wasm
